.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 80px;
    margin: 200px 170px;
    font-family: serif;
}

.about-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-title h1 {
    font-size: 80px;
    font-weight: 600;
}


.about-section {
    display: flex;
    gap: 80px;
}

.about-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.about-left h2 {
    font-size: 28px;
    color: #E8722F;
}

.about-left p {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-self: start;
    max-width: 600px;
    font-size: 20px;
    font-weight: 500;
}

.list-icon {
    font-size: 30px;
    padding-right: 4px;
    color: #E8722F;
}

.about-left ul li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 20px;
    gap: 20px;
}

.about-right img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.icon-style {
    display: flex;
    gap: 8px;
    margin-left: 80px;
}

@media(max-width: 850px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }
}