.contact {
    padding: 50px 100px;
    background-color: #140b00;
    color: white;
    text-align: left;
  }
  
  .contact-title {
    margin-bottom: 50px;
  }
  
  .contact-title h3 {
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #d8d8d8;
    text-transform: uppercase;
  }
  
  .contact-title h1 {
    font-size: 50px;
    font-weight: 700;
    color: #e47625;
    margin-bottom: 20px;
  }
  
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  
  .contact-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  
  .contact-icon {
    background-color: #e47625; 
    color: white;
    padding: 10px;
    border-radius: 50%;
  }
  
  .contact-details h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-details p {
    font-size: 16px;
    color: #d8d8d8;
    margin: 5px 0;
  }
  
  @media (max-width: 850px) {
    .contact {
      padding: 30px 20px;
    }
  
    .contact-title h1 {
      font-size: 40px;
    }
  
    .contact-section {
      grid-template-columns: 1fr; /* Single column on smaller screens */
      gap: 30px;
    }
  
    .contact-item {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  