html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar.sticky {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 1000;
    width: 100%;
    margin-top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-left: 25px;
}

.logo-container h1 {
    font-family: serif;
    color: #ff6600;
}

.logo-container h1:hover {
    color: white;
}

#logo {
    height: 50px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    transition: right 0.3s ease;
}

.nav-menu li {
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav-menu a.active {
    color: #DA7C25;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1.5px solid #DA7C25;
}

.nav-open {
    display: none;
    cursor: pointer;
    color: #DA7C25;
}

.nav-close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #DA7C25;
    cursor: pointer;
}

@media (max-width: 850px) {
    .nav-open {
        display: block;
    }

    .nav-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -350px;
        width: 350px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        padding-top: 50px;
    }

    .nav-menu.open {
        right: 0;
    }

    .nav-close {
        display: block;
    }

    .nav-menu li {
        font-size: 20px;
        padding: 15px;
    }
}
