.special-container {
  display: flex;
  flex-direction: column;
  background-color: #170b00;
  color: #fff;
  margin-top: 120px;
  padding: 4rem;
  font-family: serif;
}

.special-header {
  text-align: center;
  margin-bottom: 2rem;
}

.special-header h3 {
  font-size: 2rem;
  color: #ff6600;
}

.special-header h2 {
  font-size: 1.5rem;
  color: #fff;
}

.special-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.special-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.special-item {
  background: #333;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  border: #170b00;
  border-radius: 25px;
  transition: background 0.3s ease;
}

.special-item.active,
.special-item:hover {
  background: #ff6600;
  color: #fff;
}

.special-details {
  flex: 2;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.special-text {
  flex: 1;
}

.special-title {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.special-price {
  font-size: 2rem;
  color: #ff6600;
}

.special-description {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ddd;
}

.special-options-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.special-options {
  list-style: disc;
  padding-left: 1.5rem;
  font-size: 20px;
}

.special-image-container {
  max-width: 400px;
}

.special-image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .special-content {
    flex-direction: column;
  }

  .special-details {
    flex-direction: column;
    text-align: center;
  }

  .special-text {
    margin-bottom: 2rem;
  }

  .special-image-container {
    margin: 0 auto;
  }
}
