html, body {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.home-view {
    background-image: url('./assets/Tambayan-Grill.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay; 
}

.about-view {
    background-image: url('./assets/about-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay; 
}

.event-view {
    background-image: url('./assets/Tambayan-Grill.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay; 
}

.footer-view {
    padding: 25px 50px;
    background-color: black;
    color: white;
    text-align: center;
}